.btn {
  background-color:#123859;
  font-size: 18px;
  font-family: 'Libre Franklin', sans-serif;
  margin-bottom: 20px;
  color: #f4f4f4;
}

.card {
  padding:20px 0px;
  margin: 20px;
  font-size: 18px;
}